<h4>Formularios <small> Template </small></h4>
<hr />
<form autocomplete="off" (ngSubmit)="save(form)" #form="ngForm">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          name="name"
          [class.is-invalid]="name.invalid && name.touched"
          [ngModel]="user.name"
          type="text"
          placeholder="Nombre"
          required
          minlength="5"
          #name="ngModel"
        />
        <small
          class="form-text text-danger"
          *ngIf="name.invalid && name.touched"
          >Ingrese 5 letras</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Apellido"
          name="lastname"
          [class.is-invalid]="lastname.invalid && lastname.touched"
          [ngModel]="user.lastname"
          required
          minlength="5"
          #lastname="ngModel"
        />
        <small
          class="form-text text-danger"
          *ngIf="lastname.invalid && lastname.touched"
          >Ingrese 5 letras</small
        >
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input
        class="form-control"
        type="email"
        placeholder="Correo"
        required
        name="email"
        [class.is-invalid]="email.invalid && email.touched"
        [ngModel]="user.email"
        #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      />
      <small
        class="form-text text-danger"
        *ngIf="email.invalid && email.touched"
        >El correo es obligatorio</small
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>
